---
import { Icon } from 'astro-icon/components'
const links = [
    { text: 'Sobre Mi', windowId: 'container-about' },
    { text: 'Experiencia', windowId: 'container-experience' },
    { text: 'Proyectos', windowId: 'container-projects' },
    { text: 'Contacto', windowId: 'container-contact' },
]
interface Props {
    id: string;
}
---
<header class="flex items-center justify-between p-4 sm:px-4 md:px-8 bg-black text-white" id={Astro.props.id}>
    <h1 id="go-to-about-header" class="font-bold cursor-pointer">Sebastián Molina</h1>
    <h1 class="capitalize hidden" id="date"></h1>
    <section class="hidden justify-center items-center" id="percent">
        <h1>100%</h1>
        <Icon name="battery" size={24}></Icon>
    </section>
    <Icon name="burger" class="cursor-pointer burger-icon" size={32} id="burger-icon"></Icon>
</header>
<section class="absolute hidden px-2 w-full bg-black" id="menu-burger">
    <div class="w-full flex justify-end">
            <Icon name="close" size={32} class="m-4 cursor-pointer close-icon text-white"></Icon>
    </div>
    <nav class="flex flex-col gap-4 p-4 text-white">
        {links.map(({ text, windowId }) => (
            <div class="p-4 border border-x-0 border-t-0 border-b-white/20 hover:bg-white/10 cursor-pointer" data-window-id={windowId}>
                {text}
            </div>
        ))}
    </nav>
</section>

<script>
    const burger = document.querySelector('.burger-icon') as SVGSVGElement;
    const close = document.querySelector('.close-icon') as SVGSVGElement;
    const menu = document.getElementById('menu-burger') as HTMLElement;
    const links = menu?.querySelectorAll('nav div');

    function calculateMaxZIndex() {
        let maxZ = 1;
        document.querySelectorAll('.window-container').forEach(win => {
            const z = parseInt(window.getComputedStyle(win).zIndex) || 1;
            if (z > maxZ) {
                maxZ = z;
            }
        });
        return maxZ + 1;
    }

    links?.forEach(link => {
        if(link.getAttribute('data-window-id')){
            link.addEventListener('click', () => {
                const windowId = link.getAttribute('data-window-id');
                menu.classList.add('hidden');
                const allWindows = document.querySelectorAll('.window-container');
                allWindows.forEach(win => {
                    if (win.id !== windowId) {
                        win.classList.add('closed');
                    }
                });
                if (windowId) {
                    const windowContainer = document.getElementById(windowId);
                    if (windowContainer) {
                        windowContainer.classList.remove('closed');
                        const maxZ = calculateMaxZIndex();
                        windowContainer.style.zIndex = maxZ.toString();
                    }
                }
            });
        }
    });

    const goToAbout = document.getElementById("go-to-about-header") as HTMLElement;
    goToAbout.addEventListener("click", () => {
        const windowContainer = document.getElementById("container-about") as HTMLElement;
        const allWindows = document.querySelectorAll('.window-container');
        allWindows.forEach(win => {
            if (win.id !== "container-about") {
                win.classList.add('closed');
            }
        });
        if (windowContainer) {
            const maxZ = calculateMaxZIndex();
            windowContainer.classList.remove("closed");
            windowContainer.style.zIndex = (maxZ + 1).toString();
        }
        
    });

    if(burger){
        burger.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    }

    if(close){
        close.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });     
    }
</script>

<script>
    function actualizarFecha() {
        const date = new Date().toLocaleDateString('es-ES', {
            day: 'numeric',
            month: 'short',
            hour: 'numeric',
            minute: 'numeric'
        });
        const dateElement = document.getElementById('date');
        if(dateElement){
            dateElement.textContent = date;
        }
    }
    actualizarFecha();
    setInterval(actualizarFecha, 1000 * 60);
</script>

<style>
    #header{
        grid-area: header;
    }
    #menu-burger{
        height: 100dvh;
        z-index: 1001;
    }
    @media (min-width: 768px) {
        header{
            padding: 0.5rem 2rem;
        }
        #date  {
            display: block;
        }
        #burger-icon {
            display: none !important;
        }
        #percent{
            display: flex;
        }
    }
</style>