---
import Avatar from '@assets/avatar.png';
import CV from '@assets/Sebastian_Molina_CV.pdf';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
---
<section class="flex flex-col md:px-12 h-full items-center justify-center">
    <main class="item-show flex-col xl:flex-row p-6 sm:p-16 md:border border-white/20 rounded-xl justify-center items-center md:items-start md:gap-8 text-white" id="avatar-section">
        <Image src={Avatar} alt="Avatar" class="avatar-img w-64 p-4 mb-4 h-64 rounded-full"/>
        <div class="max-w-xl">
            <h3 class="text-neutral-500 mb-1">Hola, mi nombre es</h3>
            <h1 class="text-5xl font-bold mb-4">
                Sebastián Molina
            </h1>
            <h2 class="text-xl">
                Ingeniero de Software
            </h2>
            <h2 class="text-xl">    
                Desarrollador web - Full Stack
            </h2>
            <p class="mb-4 mt-4 text-md text-white/50">
                Ingeniero Civil en Informática con más de 3 años de experiencia en el desarrollo web y una trayectoria previa como diseñador gráfico freelance.
                Soy un profesional adaptable y colaborativo que busca desafíos donde consolidar su carrera, con el objetivo de seguir creciendo profesionalmente en un buen ambiente laboral y contribuir a la mejora continua de productos del equipo.
            </p>
            <div class="my-8 rounded-md w-full cursor-pointer flex justify-between border border-white/20">
                <a target="_blank" title="GitHub" href="https://github.com/sebastianimb" class="github py-3 flex-1 flex align-center justify-center border-r-2 border-white/20">
                    <Icon name="github" size={32} />
                </a>
                <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/sebastian-molina-bastidas/" class="linkedin py-3 flex-1 flex align-center justify-center border-r-2 border-white/20">
                    <Icon name="linkedin" size={32} />
                </a>
                <a target="_blank" title="CV" class="cv py-3 flex-1 flex align-center justify-center border-r-2 border-white/20" id="cv-download">
                    <Icon name="cv" size={32} />
                </a>
                <a target="_blank" title="Flickr" href="https://www.flickr.com/photos/cheesterworks/" class="flickr py-3 flex-1 flex align-center justify-center">
                    <Icon name="flickr" size={32} />
                </a>
            </div>
            <div id="go-to-experience" class="py-4 flex justify-end underline cursor-pointer items-center gap-0.5">
                <p>Experiencia</p>
                <Icon name="arrow-right" size={24} />
            </div>
        </div>
    </main>
</section>

<script is:inline define:vars={{cvPath: CV}}>
    window.addEventListener("DOMContentLoaded", () => {
        const cvLink = document.getElementById("cv-download");
        cvLink?.addEventListener("click", () => {
            const link = document.createElement("a");
            link.type = "application/pdf";
            link.href = cvPath;
            link.download = "CV-Sebastian-Molina.pdf";
            fetch(link.href)
                .then((response) => {
                    if (!response.ok) throw new Error("Archivo no encontrado");
                    link.click();
                })
                .catch((error) => alert("Error: " + error.message));
        });
    });
</script>

<script>
    function initializeEventListeners() {
        function calculateMaxZIndex() {
            let maxZ = 0;
            document.querySelectorAll('.window-container').forEach(win => {
                const z = parseInt(window.getComputedStyle(win).zIndex) || 0;
                if (z > maxZ) {
                    maxZ = z;
                }
            });
            return maxZ;
        }

        const goToExperience = document.getElementById("go-to-experience");

        if (goToExperience) {
            goToExperience.addEventListener("click", () => {
                const windowContainer = document.getElementById("container-experience");
                const windowAboutMe = document.getElementById("container-about");
                if (windowContainer && windowAboutMe) {
                    const maxZ = calculateMaxZIndex();
                    windowAboutMe.classList.add("closed");
                    windowContainer.classList.remove("closed");
                    windowContainer.style.zIndex = (maxZ + 1).toString();
                }
            });
        }
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initializeEventListeners);
    } else {
        initializeEventListeners();
    }
</script>

<style>
    @keyframes textAnimation {
        0% {
            stroke-width: 0;
            stroke-dashoffset: 50;
        }

        80% {
            stroke-width: 0.1;
            fill: transparent;
        }

        100% {
            fill: #ffffff;
            stroke-width: 0;
            stroke-dashoffset: 0;
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }

    #arrow {
        animation: bounce 1s ease-in-out infinite;
        cursor: pointer;
        opacity: 1;
        transition: opacity 2s ease 2.5s;
        @starting-style {
            opacity: 0;
        }
    }

    main {
        display: block;
        transform: scale(0) translateY(100%);
        transition: transform 10s ease-in-out;
        @starting-style {
            display: none;
            visibility: hidden;
            transform: scale(0) translateY(100%);
        }
        .avatar-img {
            align-self: center;
            object-fit: cover;
        }
        div h1{
            color: #a4c334
        }
    }

    main.item-show {
        display: flex !important;
        visibility: visible !important;
        transform: scale(1) translateY(0) !important;
        transition: display 10s ease-in-out allow-discrete, visibility 10s ease-in-out, transform 10s ease-in-out;
    }

    a.github:hover{
        transition: color 0.3s ease;
        color: blueviolet;
    }

    a.linkedin:hover{
        transition: color 0.3s ease;
        color: #0A66C2;
    }

    a.cv:hover{
        transition: color 0.3s ease;
        color: #00ff88;
    }
    
    a.flickr:hover{
        transition: color 0.3s ease;
        color: #ef476f;
    }
    @media (min-width: 768px) {
        #go-to-experience {
            display: none;
        }
    }
    @media (min-width: 1280px) {
        main {
            .avatar-img{
                align-self: start;
            }
        }
    }
</style>