---
---
<div class="p-4 text-white">
    <h2 class="text-2xl font-bold mb-4">Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore qui voluptate ut assumenda, saepe architecto obcaecati! A assumenda iure magnam accusamus esse corrupti, nobis pariatur distinctio repellat exercitationem enim laborum?</p>
</div>