---
import { Icon } from 'astro-icon/components';
---
<section class="p-6 md:p-8 md:pb-0 md:m-8 text-white flex flex-col gap-6 md:gap-0 border border-white/10 md:rounded-xl">
   <div class="experience-container">
        <div class="timeline min-w-20 text-white/50 text-center">
            <span>Jul 2025</span>
            <span>~</span>
            <span>Actualidad</span>
        </div>
        <div class="check text-white/95 mx-auto">
            <Icon name="circle" size={24} class="check-current"/>
        </div>
        <div>
        <div class="content flex flex-col gap-0 justify-between">
            <div class="">
                <span class="font-bold">Ingeniero de Desarrollo</span>, 
                <span class="text-amber-300">Innovex Tecnologías SpA</span>
            </div>
            <ul class="pt-4 md:pb-12 text-white/50">
                <li>- Construí una API REST + Testing para analítica de monitoreo ambiental, oceanográfico y acuicultura, utilizando Django.</li>
                <li>- Desarrollé interfaces para aplicaciones de monitoreo utilizando React.js y TypeScript.</li>
            </ul>
        </div>
    </div>
   </div>
   <div class="experience-container">
        <div class="timeline min-w-20 text-white/50 text-center">
            <span>Jul 2022</span>
            <span>~</span>
            <span>Sept 2024</span>
        </div>
        <div class="check text-white/70 mx-auto">
            <Icon name="check" size={24} class=""/>
        </div>
        <div>
        <div class="content gap-0 justify-between">
            <div class="">
                <span class="font-bold">Desarrollador Frontend</span>, 
                <span class="text-cyan-300">VASS Consultoría de Sistemas Chile Ltda</span>
            </div>
            <ul class="pt-4 md:pb-12 text-white/50">
                <li>- Aporté en la mantención de aplicaciones como soporte y desarrollé nuevos requerimientos para añadir funcionalidades claves, junto con la resolución de incidencias reportadas por los clientes. </li>
                <li>- Construí una página dinámica para el proyecto de turismo para el cliente Caja Los Andes, utilizando DXP Modyo, React. js y TypeScript.</li>
                <li>- Desarrollé aplicaciones para el cliente Consorcio utilizando Vue.js y JavaScript, enfocadas en la creación de plataformas para la digitalización de procesos de seguros empresariales y corredores, utilizando la metodología ágil Scrum.</li>
            </ul>
        </div>
    </div>
   </div>
   <div class="experience-container">
        <div class="timeline  min-w-20 text-white/50 text-center">
            <span>Mar 2010</span>
            <span>~</span>
            <span>Mar 2020</span>
        </div>
        <div class="check text-white/70 mx-auto">
            <Icon name="check" size={24} class=""/>
        </div>
        <div>
        <div class="content gap-0 justify-between">
            <div class="">
                <span class="font-bold">Diseñador Gráfico</span>, 
                <span class="text-red-300">Freelance</span>
            </div>
            <ul class="pt-4 md:pb-12 text-white/50">
                <li>- Aporté en la mantención de aplicaciones como soporte y desarrollé nuevos requerimientos para añadir funcionalidades claves, junto con la resolución de incidencias reportadas por los clientes. </li>
                <li>- Construí una página dinámica para el proyecto de turismo para el cliente Caja Los Andes, utilizando DXP Modyo, React. js y TypeScript.</li>
                <li>- Desarrollé aplicaciones para el cliente Consorcio utilizando Vue.js y JavaScript, enfocadas en la creación de plataformas para la digitalización de procesos de seguros empresariales y corredores, utilizando la metodología ágil Scrum.</li>
            </ul>
        </div>
    </div>
   </div>
   <div id="go-to" class="w-full flex justify-between">
        <div id="go-to-about" class="py-4 flex justify-end underline cursor-pointer items-center gap-0.5">
            <Icon name="arrow-left" size={24} />
            <p>Sobre Mi</p>
        </div>
        <div id="go-to-projects" class="py-4 flex justify-end underline cursor-pointer items-center gap-0.5">
            <p>Proyectos</p>
            <Icon name="arrow-right" size={24} />
        </div>
    </div>
</section>

<script>
    function calculateMaxZIndex() {
            let maxZ = 0;
            document.querySelectorAll('.window-container').forEach(win => {
                const z = parseInt(window.getComputedStyle(win).zIndex) || 0;
                if (z > maxZ) {
                    maxZ = z;
                }
            });
            return maxZ;
        }

        const goToProjects = document.getElementById("go-to-projects");
        const goToAbout = document.getElementById("go-to-about");

        if (goToProjects) {
            goToProjects.addEventListener("click", () => {
                const windowContainer = document.getElementById("container-projects");
                const windowExperience = document.getElementById("container-experience");
                if (windowContainer && windowExperience) {
                    const maxZ = calculateMaxZIndex();
                    windowContainer.classList.remove("closed");
                    windowExperience.classList.add("closed");
                    windowContainer.style.zIndex = (maxZ + 1).toString();
                }
            });
        }

        if (goToAbout) {
            goToAbout.addEventListener("click", () => {
                const windowContainer = document.getElementById("container-about");
                const windowExperience = document.getElementById("container-experience");
                if (windowContainer && windowExperience) {
                    const maxZ = calculateMaxZIndex();
                    windowContainer.classList.remove("closed");
                    windowExperience.classList.add("closed");
                    windowContainer.style.zIndex = (maxZ + 1).toString();
                }
            });
        }
</script>

<style>
    .experience-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 1rem;
        grid-template-areas:
            "timeline" 
            "content";
        border: 1px solid #ffffff1f;
        padding: 1rem;
        border-radius: 1rem;
    }
    .timeline {
        grid-area: timeline;
        display: flex;
        gap: .5rem;
    }
    .check {
        display: none;
        grid-area: check;
        position: relative;
    }

    .check-current {
        filter: none;
    }
    .content {
        grid-area: content;
        display: flex;
        flex-direction: column;
    }
    .check::after {
        display: none;
        content: '';
        position: absolute;
        left: 50%;
        top: 20px;
        width: .1rem;
        height: calc(100% - 20px);
        background-color: rgba(255, 255, 255, 0.442);
        transform: translateX(-50%);
    }
    li {
        margin-bottom: 1rem;
    }
    @media (min-width: 768px) {
        .experience-container{
            grid-template-columns: auto auto 1fr;
            row-gap: 0;
            border: 0;
            padding: 0;
            border-radius: 0;
            grid-template-areas: 
                "timeline check content";
        }
        .timeline {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .check {
            display: flex;
        }

        .check::after {
            display: block;
        }

        .check-current{
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
        }
        #go-to {
            display: none;
        }
    }
</style>